manifest {
    name            = 'dummy-cloudgene-app'
    version         = '0.1.0'
    description     = 'Dummy Cloudgene App'
    author          = 'Marc Fraile <marcfra@umich.edu>'
    homePage        = 'https://github.com/MarcFraile/dummy-cloudgene-app'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=21.04.0'
}
